* {
    margin: 0;
    padding: 0;
    --border-style: 1px solid white;
    font-family: helvetica;
}

:root {
    font-size: 16px;
}

button {
    border: 0;
}

body {
    height: 100%;
    width: 100vw;
    background: #77BFA3;
}

.inactive {
    background: rgba(119, 191, 163, 0.7);
}

#container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

#top-part {
    margin-top: 3rem;
    color: white;
}

#playername-part {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 0.7fr 1fr 1fr;
    grid-template-rows: repeat(2, 0.5fr);
    align-items: center;
    row-gap: 0.7rem;
    font-size: 0.9rem;
    color: white;
    font-weight: bold;
}

#playername-part label {
    margin-right: 0.8rem;
    justify-self: right;
}

#playername-part #csymbol {
    grid-column: 3;
    grid-row: 1;
    width: 8.5rem;
    height: 1.5rem;
    color: white;
    background: #3D2B3D;
    margin-left: 1rem;
}

#playername-part #csymbol:hover, #reset:hover {
    background: #775977;
}

#playername-part input {
    height: 1.2rem;
}

#winnerprompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25rem;
    height: 20rem;
    background: rgba(255, 255, 255, 0.75);
    color: black;
    position: absolute;
    top: 27%;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
}

#winnerprompt button {
    width: 5rem;
    height: 3rem;
    margin-bottom: 1rem;
    background: #3D2B3D;
    color: white;
}

#winnerprompt button:hover {
    background: #775977;
}

#winnerprompt h2 {
    font-size: 2rem;
    margin: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}

.hidden {
    visibility: hidden;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    grid-template-rows: repeat(3, 0.5fr);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.8);
}

#gameboard button {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    background: #781718;
    color: white;
    font-size: 2rem;
}

#gameboard #top-left, #gameboard #top-mid, #gameboard #mid-left, #gameboard #mid-mid {
    border-right: var(--border-style);
    border-bottom: var(--border-style);
}

#gameboard #top-right, #gameboard #mid-right {
    border-bottom: var(--border-style);
}

#gameboard #bot-left, #gameboard #bot-mid {
    border-right: var(--border-style)
}

.disabled {
    pointer-events: none;
}

#reset {
    width: 10rem;
    height: 2.5rem;
    font-size: 0.9rem;
    color: white;
    background: #3D2B3D;
}

footer {
    color: white;
    font-weight: bold;
    margin-top: 2rem;
}