* {
    margin: 0;
    padding: 0;
    --border-style: 1px solid black;
}

#container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100vw;
    height: 100%;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    grid-template-rows: repeat(3, 0.5fr);
}

#gameboard button {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    border: 0;
}

#gameboard #top-left, #gameboard #top-mid, #gameboard #mid-left, #gameboard #mid-mid {
    border-right: var(--border-style);
    border-bottom: var(--border-style);
}

#gameboard #top-right, #gameboard #mid-right {
    border-bottom: var(--border-style);
}

#gameboard #bot-left, #gameboard #bot-mid {
    border-right: var(--border-style)
}

.disabled {
    pointer-events: none;
}

#reset {
    width: 10rem;
    height: 2.5rem;
}