* {
    margin: 0;
    padding: 0;
    --border-style: 1px solid black;
}

#container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    width: 100vw;
    height: 100%;
}

#top-part {
    margin-top: 2rem;
}

#playername-part {
    display: grid;
    grid-template-columns: 0.6fr 1fr 1fr;
    grid-template-rows: repeat(2, 0.5fr);
    align-items: center;
    column-gap: 1rem;
    row-gap: 0.7rem;
}

#playername-part #csymbol {
    grid-column: 3;
    grid-row: 1;
    width: 8.5rem;
    height: 1.5rem;
}

#playername-part input {
    height: 1.2rem;
}

#winnerprompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 25rem;
    height: 20rem;
    background: black;
    color: white;
    position: absolute;
    top: 30%;
}

#winnerprompt button {
    width: 5rem;
    height: 3rem;
}

.hidden {
    visibility: hidden;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    grid-template-rows: repeat(3, 0.5fr);
}

#gameboard button {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    border: 0;
}

#gameboard #top-left, #gameboard #top-mid, #gameboard #mid-left, #gameboard #mid-mid {
    border-right: var(--border-style);
    border-bottom: var(--border-style);
}

#gameboard #top-right, #gameboard #mid-right {
    border-bottom: var(--border-style);
}

#gameboard #bot-left, #gameboard #bot-mid {
    border-right: var(--border-style)
}

.disabled {
    pointer-events: none;
}

#reset {
    width: 10rem;
    height: 2.5rem;
}